/* MAIN FONTS */

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/medium/geometria-medium.eot');
  src: local('geometria-light'), url('../fonts/geometria/medium/geometria-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/medium/geometria-medium.woff') format('woff'), url('../fonts/geometria/medium/geometria-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/regular/geometria.eot');
  src: local('../fonts/geometria/regular/geometria'), local('Geometria-Medium'), url('../fonts/geometria/regular/geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/regular/geometria.woff') format('woff'), url('../fonts/geometria/regular/geometria.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* ICOMOON */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?b1j99z');
  src: url('../fonts/icomoon/fonts/icomoon.eot?b1j99z#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.ttf?b1j99z') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?b1j99z') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?b1j99z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-small:before {
  content: "\e900";
  color: #48a0dc;
}

.icon-arrow-right-small:before {
  content: "\e901";
  color: #48a0dc;
}

.icon-flag:before {
  content: "\e902";
  color: #2b2b51;
}

.icon-menu:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
  color: #2b2b51;
}

.icon-search:before {
  content: "\e905";
  color: #2b2b51;
}

.icon-skype:before {
  content: "\e906";
  color: #2b2b51;
}

.icon-telegram:before {
  content: "\e907";
  color: #2b2b51;
}

.icon-viber .path1:before {
  content: "\e908";
  color: #2b2b51;
}

.icon-viber .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: #2b2b51;
}

.icon-viber .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: #ffffff;
}

.icon-viber .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: #ffffff;
}

.icon-viber .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: #ffffff;
}

.icon-whatsapp:before {
  content: "\e90d";
  color: #2b2b51;
}

body,
table {
  font-family: "Geometria";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  max-width: 1330px;
}

.header__inner {
  height: 237px;
  background: url('../img/header-bg.png') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

footer {
  font-weight: 500;
}

/* PAGE HEADER */

/* PAGE CONTENT */

/* PAGE FOOTER */

/* SLIDERS */

/* MODALS WINDOW */

/* FORMS */

@media (min-width: 320px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 768px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}