/* MAIN FONTS */

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/medium/geometria-medium.eot');
  src: local('geometria-light'), url('../fonts/geometria/medium/geometria-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/medium/geometria-medium.woff') format('woff'), url('../fonts/geometria/medium/geometria-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/regular/geometria.eot');
  src: local('../fonts/geometria/regular/geometria'), local('Geometria-Medium'), url('../fonts/geometria/regular/geometria.eot?#iefix') format('embedded-opentype'), url('../fonts/geometria/regular/geometria.woff') format('woff'), url('../fonts/geometria/regular/geometria.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?xhyd5y');
  src: url('../fonts/icomoon/fonts/icomoon.eot?xhyd5y#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.ttf?xhyd5y') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?xhyd5y') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?xhyd5y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-small:before {
  content: "\e900";
  color: #48a0dc;
}

.icon-arrow-right-small:before {
  content: "\e901";
  color: #48a0dc;
}

.icon-flag:before {
  content: "\e902";
  color: #2b2b51;
}

.icon-menu:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
  color: #2b2b51;
}

.icon-search:before {
  content: "\e905";
  color: #2b2b51;
}

.icon-skype:before {
  content: "\e906";
  color: #2b2b51;
}

.icon-telegram:before {
  content: "\e907";
  color: #2b2b51;
}

.icon-viber .path1:before {
  content: "\e908";
  color: #2b2b51;
}

.icon-viber .path2:before {
  content: "\e909";
  margin-left: -0.96777344em;
  color: #2b2b51;
}

.icon-viber .path3:before {
  content: "\e90a";
  margin-left: -0.96777344em;
  color: #ffffff;
}

.icon-viber .path4:before {
  content: "\e90b";
  margin-left: -0.96777344em;
  color: #ffffff;
}

.icon-viber .path5:before {
  content: "\e90c";
  margin-left: -0.96777344em;
  color: #ffffff;
}

.icon-whatsapp:before {
  content: "\e90d";
  color: #2b2b51;
}

.icon-vk:before {
  content: "\e90e";
}

.icon-twitter:before {
  content: "\e90f";
}

.icon-facebook:before {
  content: "\e910";
}

.icon-livejournal:before {
  content: "\e911";
}

body,
table {
  font-family: "Geometria";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
  visibility: visible !important;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

a:hover {
  text-decoration: underline;
}

svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  -moz-transition: fill .3s linear;
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  max-width: 1330px;
}

.uk-container.uk-container--medium {
  position: relative;
  max-width: 1110px;
}

/* ELEMENTS */

h1,
.title-h1 {
  margin-bottom: 50px;
  color: #2c2b51;
  font-size: 40px;
  line-height: 46px;
}

h2,
.title-h2 {
  margin: 60px 0 40px;
  color: #2c2b51;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

h3,
.title-h3 {
  margin: 60px 0 25px;
  color: #2c2b51;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.btn {
  margin: 0;
  padding: 0;
  padding: 0 70px;
  display: inline-block;
  vertical-align: top;
  min-width: 193px;
  height: 64px;
  line-height: 64px;
  color: #ffffff;
  font-family: "Geometria";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.05px;
  border: none;
  outline: none;
  background-color: #0088ed;
  -webkit-box-shadow: 0 11px 18px rgba(43, 43, 81, 0.07);
  box-shadow: 0 11px 18px rgba(43, 43, 81, 0.07);
  -webkit-border-radius: 32px;
  border-radius: 32px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s ease;
  -o-transition: background-color 0.3s, color 0.3s ease;
  -moz-transition: background-color 0.3s, color 0.3s ease;
  transition: background-color 0.3s, color 0.3s ease;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #2c2b51;
}

.btn.btn--white {
  color: #39385c;
  background-color: #ffffff;
  -webkit-box-shadow: 0 68px 32px -57px rgba(46, 45, 83, 0.11);
  box-shadow: 0 68px 32px -57px rgba(46, 45, 83, 0.11);
}

.btn.btn--underline {
  position: relative;
  padding: 0;
  padding-bottom: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

.btn.btn--underline:after {
  content: '';
  position: absolute;
  top: 48px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #0089ed;
}

.uk-slidenav-position .uk-slidenav {
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  font-size: 30px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.uk-slidenav-contrast {
  color: #0089ed;
}

.uk-slidenav-contrast:focus,
.uk-slidenav-contrast:hover {
  color: #2c2b51;
}

/* BREADCRUMBS */

.breadcrumbs {
  margin: 0;
  margin: 20px 0 30px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.breadcrumbs li a {
  position: relative;
  padding-right: 15px;
  padding-left: 3px;
  display: block;
  color: inherit;
}

.breadcrumbs li a:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumbs li:first-child a {
  padding-left: 0;
}

/* TABS */

.uk-tab {
  border: none;
  border-bottom: 3px solid #c6eeff;
}

.uk-tab > li {
  margin-bottom: 0;
  margin-right: 7.5%;
}

.uk-tab > li a {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  color: #2c2b51;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.24px;
  border: none;
  text-transform: uppercase;
  -webkit-transition: none;
  -o-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

.uk-tab > li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
}

.uk-tab > li.uk-active a {
  font-size: 24px;
  border: none;
}

.uk-tab > li.uk-active a:after {
  background-color: #0089ed;
}

.uk-tab > li.uk-open:not(.uk-active) > a,
.uk-tab > li:not(.uk-active) > a:focus,
.uk-tab > li:not(.uk-active) > a:hover {
  margin-bottom: 0;
  padding-bottom: 8px;
  background: transparent;
  border: none;
}

/* PAGINATION */

.uk-pagination-wrapper {
  padding: 45px 0;
}

.uk-pagination {
  max-width: 835px;
  margin: 0 auto;
}

.uk-pagination li {
  margin-right: 4%;
}

.uk-pagination li a,
.uk-pagination li span {
  padding: 0;
  width: 52px;
  height: 52px;
  line-height: 52px;
  color: #2c2b51;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
}

.uk-pagination li.uk-active span {
  color: #ffffff;
  background-color: #0089ed;
}

.uk-pagination li:nth-child(n+2) {
  margin-left: 0;
}

.uk-pagination .uk-pagination-prev {
  float: left;
}

.uk-pagination .uk-pagination-next {
  float: right;
}

.uk-pagination .uk-pagination-prev,
.uk-pagination .uk-pagination-next {
  margin-right: 0;
}

.uk-pagination .uk-pagination-prev a,
.uk-pagination .uk-pagination-next a {
  padding: 0;
  width: auto;
  max-width: auto;
}

.uk-pagination .uk-pagination-prev a:hover,
.uk-pagination .uk-pagination-next a:hover {
  background: transparent;
  color: #0089ed;
}

/* PAGE HEADER */

.header {
  margin-bottom: 57px;
}

.header__inner {
  position: relative;
  margin-top: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-desktop {
  position: relative;
  padding-top: 36px;
  min-height: 237px;
  background: url('../img/header-bg.png') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts__inner {
  margin-right: 30px;
  padding: 0 20px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background-color: #ffffff;
}

.contacts__inner a {
  margin-left: 18px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #2c2b51;
}

.contacts__inner a.tel {
  margin-left: 0;
  font-size: 13px;
  font-weight: 500;
}

.contacts a {
  font-size: 20px;
}

.contacts a:before {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.contacts a:hover {
  text-decoration: none;
}

.contacts a:hover.icon-whatsapp:before {
  color: #4fc85d;
}

.contacts a:hover.icon-telegram:before {
  color: #2598d2;
}

.contacts a:hover.icon-skype:before {
  color: #00b0e1;
}

.contacts a:hover.icon-whatsapp:before {
  color: #4fc85d;
}

.contacts a.icon-viber-png {
  width: 20px;
  height: 20px;
  background: url('../img/icon-png/viber.png') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.callback a {
  position: relative;
  padding-left: 30px;
  color: #2c2b51;
  font-family: "Geometria" !important;
  font-size: 13px;
  font-weight: 500;
}

.callback a:before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'icomoon' !important;
}

.address span {
  position: relative;
  padding-left: 30px;
  color: #2c2b51;
  font-family: "Geometria" !important;
  font-size: 13px;
  font-weight: 500;
}

.address span:before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'icomoon' !important;
  font-size: 16px;
}

.search {
  background: transparent;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}

.search__link {
  position: relative;
  padding-left: 30px;
  color: #2c2b51;
  font-family: "Geometria" !important;
  font-size: 13px;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  width: 100px;
}

.search__link:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'icomoon' !important;
  font-size: 16px;
}

.search a:hover {
  color: #2c2b51;
  text-decoration: none;
}

.search.show {
  position: absolute;
  margin-top: 0;
  padding-left: 25px;
  width: 100%;
  background: #ffffff;
}

.search.show a.search__link {
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
  height: 43px;
  line-height: 43px;
  width: 10%;
}

.search.show form.search-form.show {
  width: 89%;
  display: inline-block;
  vertical-align: top;
}

/* MAIN NAV */

.main-nav {
  position: absolute;
  bottom: -37px;
  left: 0;
  right: 0;
  margin: 0 auto !important;
  width: 100%;
  height: 74px;
  max-width: 1300px;
  z-index: 600;
  -webkit-transition: width 0.3s, -webkit-box-shadow 0.3s ease;
  transition: width 0.3s, -webkit-box-shadow 0.3s ease;
  -o-transition: width 0.3s, box-shadow 0.3s ease;
  -moz-transition: width 0.3s, box-shadow 0.3s ease;
  transition: width 0.3s, box-shadow 0.3s ease;
  transition: width 0.3s, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.nav {
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 30px 29px -20px rgba(147, 147, 147, 0.13);
  box-shadow: 0 30px 29px -20px rgba(147, 147, 147, 0.13);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f9f9f9), color-stop(90%, #ebebeb));
  background-image: -webkit-linear-gradient(top, #f9f9f9 90%, #ebebeb 90%);
  background-image: -moz-linear-gradient(top, #f9f9f9 90%, #ebebeb 90%);
  background-image: -o-linear-gradient(top, #f9f9f9 90%, #ebebeb 90%);
  background-image: linear-gradient(180deg, #f9f9f9 90%, #ebebeb 90%);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.nav__list > li {
  position: relative;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.nav__list > li > a {
  position: relative;
  display: block;
  height: 74px;
  line-height: 74px;
  color: #39385c;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2.05px;
  text-transform: uppercase;
  z-index: 151;
  -webkit-transition: background-color 0.3s, color 0.3s ease;
  -o-transition: background-color 0.3s, color 0.3s ease;
  -moz-transition: background-color 0.3s, color 0.3s ease;
  transition: background-color 0.3s, color 0.3s ease;
}

.nav__list > li > a:before,
.nav__list > li > a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 35px;
  height: 1px;
  background-color: #2b2b51;
  opacity: .2;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.nav__list > li > a:after {
  left: auto;
  right: 0;
}

.nav__list > li > a:hover {
  color: #ffffff;
  background-color: #0089ed;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
  box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
}

.nav__list > li > a:hover:after,
.nav__list > li > a:hover:before {
  background-color: #ffffff;
  opacity: .2;
}

.nav__list > li:first-child a:before {
  display: none;
}

.nav__list > li:last-child a:after {
  display: none;
}

.nav__list > li:hover .nav__sublist {
  display: block;
}

.nav__list > li.hover > a {
  color: #ffffff;
  background-color: #0089ed;
  text-decoration: none;
  -webkit-box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
  box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
}

.nav__list > li.hover > a:after,
.nav__list > li.hover > a:before {
  background-color: #ffffff;
  opacity: .2;
}

.nav__sublist {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 40px 10% 40px 31%;
  display: none;
  width: 100%;
  text-align: left;
  background-image: -webkit-linear-gradient(46deg, #c6eeff 0%, #e6f7ff 100%);
  background-image: -moz-linear-gradient(46deg, #c6eeff 0%, #e6f7ff 100%);
  background-image: -o-linear-gradient(46deg, #c6eeff 0%, #e6f7ff 100%);
  background-image: linear-gradient(44deg, #c6eeff 0%, #e6f7ff 100%);
  z-index: 100;
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  opacity: 0;
  -webkit-animation: showSublist .65s ease forwards;
  -moz-animation: showSublist .65s ease forwards;
  animation: showSublist .65s ease forwards;
}

.nav__sublist li a {
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: inline-block;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 400;
}

.nav__sublist li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #0089ed;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.nav__sublist li a:hover {
  text-decoration: none;
}

.nav__sublist li a:hover:after {
  width: 100%;
}

.nav:hover {
  -webkit-box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
  box-shadow: 0 20px 9px 0px rgba(147, 147, 147, 0.2);
}

@-webkit-keyframes showSublist {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes showSublist {
  0% {
    display: block;
    opacity: 0;
    -moz-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showSublist {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

/* PAGE CONTENT */

.content p {
  margin-bottom: 30px;
  color: #4e4e4e;
  line-height: 26px;
}

.content p:last-child {
  margin-bottom: 0;
}

.content p .bold {
  font-weight: 500;
}

.content table {
  margin-bottom: 40px;
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

.content table th,
.content table td {
  padding: 28px 0 30px 40px;
}

.content table thead {
  border-width: 3px 0;
  border-color: #0089ed;
  border-style: solid;
}

.content table thead th {
  color: #2c2b51;
  font-weight: 500;
}

.content table thead th:first-child {
  padding-left: 0;
}

.content table thead th:nth-child(2n) {
  background-color: #f8f8f8;
  width: 24%;
}

.content table tbody tr {
  border-bottom: 1px solid #eeeeee;
}

.content table tbody tr td {
  color: #4e4e4e;
  line-height: 26px;
}

.content table tbody tr td:first-child {
  padding-left: 0;
}

.content table tbody tr td:nth-child(2n) {
  background-color: #f8f8f8;
  width: 24%;
}

.content ul:not([class]),
.content ol:not([class]) {
  padding-left: 0;
  color: red;
}

.content ul:not([class]) li,
.content ol:not([class]) li {
  margin-bottom: 20px;
  padding-left: 30px;
  color: #4e4e4e;
  font-weight: 400;
  line-height: 26px;
}

.content ul:not([class]) {
  padding-left: 0;
}

.content ul:not([class]) li {
  position: relative;
  padding-left: 30px;
  list-style: none;
}

.content ul:not([class]) li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #0089ed;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.content .table-subtitle {
  margin-top: 45px;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.about-us {
  margin-bottom: 50px;
}

.about-us__inner {
  position: relative;
  padding: 60px 8.65%;
  color: #ffffff;
  background: url('../img/patter-blue.png') 0 0 repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.about-us__title {
  margin-bottom: 30px;
  font-size: 40px;
}

.about-us__text {
  line-height: 26px;
}

.info-blocks {
  padding: 45px 0;
  background: url('../img/pattern-bg.png') 0 0 repeat;
}

.info-blocks .main-articles,
.info-blocks .main-news {
  position: relative;
  padding: 44px 7%;
  background: #ffffff;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 100%;
}

.info-blocks .main-articles__header,
.info-blocks .main-news__header {
  position: relative;
}

.info-blocks a.all {
  position: absolute;
  top: 7px;
  right: 0;
  padding-bottom: 6px;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 400;
}

.info-blocks a.all:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #2c2b51;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.info-blocks a.all:hover {
  text-decoration: none;
  color: #0089ed;
}

.info-blocks a.all:hover:after {
  background-color: #0089ed;
}

.info-blocks .title {
  margin-bottom: 40px;
  color: #2c2b51;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-blocks .date {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  opacity: .5;
}

.info-blocks .subtitle {
  margin-bottom: 40px;
}

.info-blocks .subtitle a {
  color: #0089ed;
  font-size: 18px;
  line-height: 30px;
}

.info-blocks .text {
  color: #4e4e4e;
  line-height: 26px;
}

/* SERTIFICATES */

.sertificates {
  margin-bottom: 60px;
  border-bottom: 1px solid #eeeeee;
}

.sertificates__list {
  font-size: 0;
}

.sertificates__item {
  margin-right: 3%;
  margin-bottom: 70px;
  width: 17%;
  display: inline-block;
  vertical-align: top;
}

.sertificates__item:nth-child(5n) {
  margin-right: 0;
}

.sertificates__img {
  margin-bottom: 25px;
  height: 275px;
}

.sertificates__subtitle {
  color: #2c2b51;
  font-size: 14px;
  line-height: 17px;
  opacity: .5;
}

/* SERVICES */

.card {
  padding: 12px 2.8%;
  background: url('../img/service-bg.png') center repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.card__title {
  padding: 12px 5%;
  min-height: 115px;
  color: #2c2b51;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  background-size: auto;
  background-color: #ffffff;
  background-position: right 30px center;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 24px 29px -20px rgba(43, 43, 81, 0.07);
  box-shadow: 0 24px 29px -20px rgba(43, 43, 81, 0.07);
}

.card__title span {
  margin-top: 5px;
  display: block;
  max-width: 80%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.2px;
}

.card__list {
  margin: 0;
  padding: 0;
  padding: 20px 5%;
  list-style: none;
}

.card__list a {
  color: #2c2b51;
  font-size: 14px;
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.card__list a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #0089ed;
  -webkit-transition: width .3s ease;
  -o-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.card__list a:hover {
  text-decoration: none;
}

.card__list a:hover:after {
  width: 100%;
}

/* DETAIL */

.detail-banner {
  margin-bottom: 80px;
  padding: 80px 8.5% 60px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.detail-banner__text {
  margin-bottom: 45px;
  line-height: 26px;
}

.detail-banner__text p {
  margin-bottom: 30px;
  color: #ffffff;
}

.detail-banner__text p:last-child {
  margin-bottom: 0;
}

.detail-banner__text a {
  color: #ffffff;
}

.detail-banner__btns-wrapper .btn {
  margin-right: 7.5%;
}

.detail-banner__btns-wrapper .btn:last-child {
  margin-right: 0;
}

.detail-banner.detail-banner--bottom {
  margin: 60px 0;
  background: url('../img/patter-blue.png') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.list-wrapper {
  position: relative;
}

.list-wrapper ul,
.list-wrapper ol {
  max-width: 78%;
}

.list-wrapper .list-img {
  position: absolute;
  top: 0;
  right: 0;
}

/* REVIEWS */

.reviews {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.reviews-list .review:last-child {
  margin-bottom: 0;
}

.review {
  margin-bottom: 25px;
  padding: 50px 10%;
  background: url('../img/pattern-bg.png') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.review__text {
  margin-bottom: 40px;
  color: #4e4e4e;
  line-height: 26px;
}

.review__info {
  font-size: 0;
}

.review__date {
  margin-right: 15%;
  display: inline-block;
  vertical-align: top;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.review__author {
  display: inline-block;
  vertical-align: top;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.feedback-block {
  padding: 50px 15%;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: url('../img/patter-blue.png') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.feedback-block__text {
  margin-bottom: 40px;
  color: #ffffff;
  line-height: 26px;
}

.feedback-block .btn {
  padding: 0;
  width: 100%;
}

/* NEWS */

.news {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ebebeb;
}

.news-pages-section {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  font-size: 0;
  border-bottom: 3px solid #ddf5ff;
}

.news-pages-section li {
  display: inline-block;
  vertical-align: top;
}

.news-pages-section li a {
  position: relative;
  padding-bottom: 24px;
  display: block;
  color: #2c2b51;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.news-pages-section li a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.news-pages-section li a:hover {
  text-decoration: none;
  color: #0089ed;
}

.news-pages-section li a:hover:after {
  background-color: #0089ed;
}

.news-pages-section li.active a {
  font-size: 24px;
  letter-spacing: 1px;
}

.news-pages-section li.active a:after {
  background-color: #0089ed;
}

.news-pages-section li:last-child {
  margin-right: 0;
}

.news-pages-list {
  margin-bottom: 15px;
}

.news-item {
  margin-top: 60px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ebebeb;
}

.news-item__date {
  margin-bottom: 20px;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.news-item__title {
  margin-bottom: 40px;
  color: #0089ed;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.news-item__text {
  color: #4e4e4e;
  line-height: 26px;
}

.news-detail {
  margin-bottom: 60px;
  padding-bottom: 65px;
  border-bottom: 1px solid #ebebeb;
}

.news-detail__date {
  margin-bottom: 35px;
  color: #2c2b51;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.another-news__item {
  max-width: 633px;
  margin-bottom: 30px;
}

.another-news__date {
  margin-bottom: 35px;
  color: #2c2b51;
  font-size: 18px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.another-news__title {
  margin-bottom: 30px;
}

.another-news__title a {
  color: #0089ed;
  font-size: 18px;
  line-height: 30px;
}

.another-news__text {
  color: #4e4e4e;
  line-height: 26px;
}

/* COMMENTS */

.comments {
  margin-top: 60px;
  margin-bottom: 30px;
}

.comments__inner {
  padding: 50px 0;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: url('../img/pattern-bg.png') center repeat;
}

.comments__list {
  margin-bottom: 40px;
}

.comments__title {
  margin-bottom: 40px;
  color: #2c2b51;
  font-size: 30px;
  line-height: 38px;
}

.comment {
  margin-bottom: 20px;
  padding: 25px 30px;
  background-color: #ffffff;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.comment__info {
  margin-bottom: 20px;
  font-size: 0;
}

.comment__date,
.comment__author {
  display: inline-block;
  vertical-align: top;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.comment__date {
  margin-right: 30px;
}

/* PAGE FOOTER */

.footer {
  padding: 75px 0;
}

.footer .logo {
  margin-top: -25px;
  display: block;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list-item a {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  color: #2c2b51;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  opacity: .5;
}

.footer__contacts {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 0;
}

.footer__contacts .tel {
  position: relative;
  margin-bottom: 20px;
  padding-left: 25px;
  display: block;
  color: #2c2b51;
  font-size: 13px;
  font-weight: 500;
  font-family: "Geometria" !important;
}

.footer__contacts .tel:before {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: 'icomoon' !important;
}

.footer__contacts .callback {
  padding-left: 25px;
  color: #2c2b51;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
}

.footer__address {
  margin-top: 35px;
}

.footer__address span.icon-flag {
  position: relative;
  display: block;
}

.footer__address span.icon-flag:before {
  position: absolute;
  top: 3px;
  left: 0;
  font-family: 'icomoon' !important;
}

.footer__address span.text {
  padding-left: 25px;
  display: inline-block;
  max-width: 60%;
  color: #2c2b51;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
  font-family: "Geometria" !important;
}

.footer__soc-icons {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  font-size: 0;
}

.footer__soc-icons a:before {
  color: #2c2b51;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.footer__soc-icons a:hover {
  text-decoration: none;
}

.footer__soc-icons a:hover:before {
  color: #0089ed;
}

.footer__soc-icons a.icon-vk:before {
  font-size: 18px;
}

.footer__soc-icons a.icon-twitter:before {
  font-size: 16px;
}

.footer__soc-icons a.icon-facebook:before {
  font-size: 16px;
}

.footer__soc-icons a.icon-livejournal:before {
  font-size: 16px;
}

.footer__soc-icons-wrapper {
  margin-top: -3px;
  padding-left: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* SLIDERS */

/* SERVICE SLIDER */

.service-slider {
  position: relative;
  margin-bottom: 20px;
}

.service-slider.preload {
  height: 320px;
}

.service-slider .slider .slick-slide {
  margin: 0 10px;
}

.service-slider .slider .slick-list {
  margin: 0 -10px;
}

.slider .slide-prev,
.slider .slide-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 105;
}

.slider .slide-prev:hover i:before,
.slider .slide-next:hover i:before {
  color: #2c2b51;
  font-weight: bold;
}

.slider .slide-prev {
  left: -35px;
}

.slider .slide-next {
  right: -35px;
}

.slider__title {
  position: absolute;
  max-width: 16%;
  color: #2c2b51;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.2px;
  z-index: 130;
}

/* CLIENTS SLIDER */

.clients-slider {
  position: relative;
  margin-bottom: 30px;
}

.clients-slider .slider {
  margin-top: 30px;
  padding: 40px 14%;
}

.clients-slider .slider .slide__img-wrapper {
  height: 80px;
}

.clients-slider .slider .slide__img-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.clients-slider .slider .slide-prev {
  left: 0;
}

.clients-slider .slider .slide-next {
  right: 0;
}

.clients-slider img {
  display: inline;
  max-height: 100%;
}

/* RECOMMENDS SLIDER */

.recommend-slider {
  position: relative;
  margin-bottom: 60px;
}

.recommend-slider .slider {
  position: relative;
  margin-top: 30px;
  padding: 0 10%;
}

.recommend-slider .slider .slick-slide {
  margin: 0 10px;
}

.recommend-slider .slider .slick-list {
  margin: 0 -10px;
}

.recommend-slider .slider .slide__inner {
  padding: 26px 28px;
  background-color: #f8f8f8;
}

.recommend-slider .slider .slide-prev {
  left: 0;
}

.recommend-slider .slider .slide-next {
  right: 0;
}

.recommend-slider .slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 252, 252, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(left, rgba(252, 252, 252, 0) 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(252, 252, 252, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(252, 252, 252, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(to right, rgba(252, 252, 252, 0) 0%, #ffffff 100%);
  z-index: 100;
}

.preload {
  position: relative;
  overflow: hidden;
}

.preload:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff url('../img/ajax-loader.gif') center no-repeat;
}

.preload * {
  opacity: 0;
}

/* MODALS WINDOW */

/* CALLBACK MODAL */

.default-modal .uk-modal-dialog {
  position: relative;
  padding: 58px 5.8%;
  width: auto;
  max-width: 635px;
  background: url('../img/service-bg.png') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 22px;
  border-radius: 22px;
}

.default-modal .uk-modal-header {
  margin-bottom: 40px;
}

.default-modal .uk-modal-header .title {
  color: #2c2b51;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.default-modal .uk-modal-header .title span {
  display: block;
  font-size: 19px;
  line-height: 25px;
  font-weight: 400;
  text-transform: none;
}

.default-modal .uk-modal-header a.uk-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-weight: 400;
  width: auto;
  line-height: 1;
  opacity: 1;
}

.default-modal .uk-modal-header a.uk-close:after {
  content: '✖';
  font-family: none;
  font-size: 35px;
  line-height: 1;
  color: #ffffff;
  opacity: 1;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  transition: color .3s ease;
}

.default-modal .uk-modal-header a.uk-close:hover:after {
  color: #0089ed;
}

.default-modal .uk-modal-body fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.default-modal .uk-modal-body input,
.default-modal .uk-modal-body textarea {
  padding: 0 5%;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background-color: #ffffff;
  border: none;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0 24px 29px -20px rgba(43, 43, 81, 0.07);
  box-shadow: 0 24px 29px -20px rgba(43, 43, 81, 0.07);
  outline: none;
}

.default-modal .uk-modal-body ::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body :-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body ::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body :-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body ::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body ::placeholder {
  font-size: 14px;
  font-weight: 500;
  opacity: .5;
}

.default-modal .uk-modal-body textarea {
  min-height: 130px;
  resize: vertical;
}

.default-modal .uk-modal-body label.error {
  margin-top: 4px;
  display: block;
  color: red;
}

.default-modal .uk-modal-body .required-fileds {
  margin: 20px 0 0;
  color: #2c2b51;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
}

.default-modal .form-politics {
  margin: 10px 0 30px;
  color: #2c2b51;
  opacity: .5;
  font-size: 14px;
  font-weight: 500;
}

.default-modal .btn.modal-btn {
  padding: 0 30px;
}

/* FORMS */

.search-form {
  position: relative;
  display: none;
}

.search-form input[type="text"] {
  padding-right: 10%;
  width: 100%;
  height: 43px;
  line-height: 43px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.search-form button {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #39385c;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.05px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-form.show {
  display: block;
}

.comments-form input[type="text"] {
  margin-bottom: 20px;
  min-width: 415px;
  background-color: #ffffff;
}

.comments-form input[type="text"],
.comments-form textarea {
  padding: 20px 35px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border: none;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  outline: none;
}

.comments-form textarea {
  margin-bottom: 30px;
  width: 100%;
  min-height: 132px;
  resize: vertical;
}

.comments-form ::-webkit-input-placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form :-moz-placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form ::-moz-placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form :-ms-input-placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form ::-ms-input-placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form ::placeholder {
  color: #2c2b51;
  opacity: .5;
}

.comments-form .btn {
  padding: 0;
}

@media (min-width: 320px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 768px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}

@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}