/* DETAIL */

.detail-banner {
	margin-bottom: 80px;
	padding: 80px 8.5% 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 12px;
	&__text {
		margin-bottom: 45px;
		line-height: 26px;
		p {
			margin-bottom: 30px;
			color: #ffffff;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: #ffffff;
		}
	}
	&__btns-wrapper {
		.btn {
			margin-right: 7.5%;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&&--bottom {
		margin: 60px 0;
		background: url('../img/patter-blue.png') 0 0 no-repeat;
		background-size: cover;
	}
}


.list-wrapper {
	position: relative;
	ul, ol {
		max-width: 78%;
	}
	.list-img {
		position: absolute;
		top: 0;
		right: 0;
	}
}
