/* NEWS */

.news {
	@media @mob-w {
		margin-bottom: 20px;
		padding-bottom: 0;
	}
	@media @tablet-w {
		margin-bottom: 30px;
		padding-bottom: 0px;
	}
	@media @desk-w {
		margin-bottom: 60px;
		padding-bottom: 20px;
	}
}

.news-pages-section {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 0;
	border-bottom: 3px solid #ddf5ff;
	@media @mob-w {
		margin-top: 20px;
		flex-wrap: wrap;
		display: none;
	}
	@media @desk-w {
		display: flex !important;
	}
	li {
		vertical-align: top;
		@media @mob-w {
			display: block;
			width: 100%;
		}
		@media @desk-w {
			display: inline-block;
			width: auto;
		}
		a {
			position: relative;
			display: block;
			color: @darkBlue;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -3px;
				display: block;
				width: 100%;
				height: 3px;
				background-color: transparent;
				transition: background-color .3s ease;
			}
			&:hover {
				text-decoration: none;
				color: @lightBlue;
				&:after {
					background-color: @lightBlue;
				}
			}
			@media @mob-w {
				margin-bottom: 10px;
				padding-bottom: 5px;
				display: inline-block;
				font-size: 14px;
				line-height: 20px;
			}
			@media @desk-w {
				margin-bottom: 0px;
				padding-bottom: 24px;
				display: block;
				font-size: 16px;
				line-height: 24px;
			}
		}
		&.active {
			a {
				font-size: 24px;
				letter-spacing: 1px;
				&:after {
					@media @mob-w {
						background: transparent;
						border-bottom: 2px dashed @lightBlue;
					}
					@media @desk-w {
						background-color: @lightBlue;
						border: none;
					}
				}
				@media @mob-w {
					font-size: 20px;
				}
				@media @desk-w {
					font-size: 24px;
				}
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

	a {
		&.news-toggle {
			position: relative;
			display: inline-block;
			font-size: 20px;
			padding-left: 30px;
			margin: 0;
			padding-left: 30px;
			line-height: 22px;
			font-family: @mainFont !important;
			color: @darkBlue;
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				font-family: 'icomoon' !important;
				.icomoon();
			}
			&:hover,&:focus {
				text-decoration: none;
			}
		}
	}

.news-pages-list {
	margin-bottom: 15px;
}

.news-item {
	margin-top: 60px;
	padding-bottom: 45px;
	border-bottom: 1px solid #ebebeb;
	&__date {
		margin-bottom: 20px;
		color: @darkBlue;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		opacity: .5;
	}
	&__title {
		margin-bottom: 40px;
		color: @lightBlue;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
	}
	&__text {
		color: #4e4e4e;
		line-height: 26px;
	}
	&:first-child {
		margin-top: 30px;
	}
}


.news-detail {
	margin-bottom: 60px;
	padding-bottom: 65px;
	&__date {
		margin-bottom: 35px;
		color: @darkBlue;
		font-size: 18px;
		font-weight: 500;
		line-height: 17px;
		opacity: .5;
	}
}


.another-news {
	&__item {
		max-width: 633px;
		margin-bottom: 30px;
	}
	&__date {
		margin-bottom: 35px;
		color: @darkBlue;
		font-size: 18px;
		font-weight: 500;
		line-height: 17px;
		opacity: .5;
	}
	&__title {
		margin-bottom: 30px;
		a {
			color: @lightBlue;
			font-size: 18px;
			line-height: 30px;
		}
	}
	&__text {
		color: #4e4e4e;
		line-height: 26px;;
	}
}
