{% block content %}
	<footer class="footer">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-1-4">
					<a href="/" class="logo">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
				<div class="uk-width-medium-2-4">
					<div class="uk-grid">
						<div class="uk-width-1-3">
							<ul class="footer__list">
								<li class="footer__list-item"><a href="#">О компании</a></li>
								<li class="footer__list-item"><a href="#">Услуги</a></li>
								<li class="footer__list-item"><a href="#">Пресс клуб</a></li>
								<li class="footer__list-item"><a href="#">Контакты</a></li>
							</ul>
						</div>
						<div class="uk-width-2-3">
							<ul class="footer__list">
								<li class="footer__list-item"><a href="#">Оценка и экспертиза</a></li>
								<li class="footer__list-item"><a href="#">Маркетинг и инвестиционный консалтинг</a></li>
								<li class="footer__list-item"><a href="#">Юридические услуги</a></li>
								<li class="footer__list-item"><a href="#">Дополнительные услуги</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="uk-width-medium-1-4 uk-padding-remove">
					<div class="footer__contacts">
						<a href="tel:+79031303851" class="tel icon-phone">+7 (903) 130-38-51</a>
						<a href="#callback-modal" class="callback" data-uk-modal>Перезвоните мне</a>
					</div>
					<div class="footer__soc-icons">
						<div class="footer__soc-icons-wrapper">
							<a href="https://vk.com/business__partner" class="soc-links icon-vk"></a>
							<a href="https://twitter.com/biznesspartner" class="soc-links icon-twitter"></a>
							<a href="https://www.facebook.com/pg/BusinessPartner-%D0%9E%D1%86%D0%B5%D0%BD%D0%BA%D0%B0-1%D0%A1-%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F-239012946127630/about/" class="soc-links icon-facebook"></a>
							<a href="https://bp-g.livejournal.com/" class="soc-links icon-livejournal"></a>
						</div>
					</div>
					<div class="footer__address">
						<span class="icon-flag">
							<span class="text">Москва, Архангельский пер., д.3, стр.1</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}

