{% block  content %}
<div class="info-blocks">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-6-10">
					<div class="main-articles">
						<div class="main-articles__header">
							<div class="title">Статьи</div>
							<a href="" class="all">Все статьи</a>
						</div>
						<div class="item">
							<div class="date">20 февраля 2018</div>
							<div class="subtitle">
								<a href="">Особенности оценки машин и оборудования</a>
							</div>
							<div class="text">
								Согласно законодательству (ФЗ «Об оценочной деятельности»), кадастровая оценка осуществляется в соответствие с решениями исполнительных органов либо в тех случаях, когда законодательные нормы о проведении оценочных мероприятий устанавливаются законодательством государственного субъекта. Процедура проводится не реже, чем один раз в пять лет. 
							</div>
						</div>
					</div>
				</div>
				<div class="uk-width-medium-4-10">
					<div class="main-news">
						<div class="main-news__header">
							<div class="title">Новости</div>
							<a href="" class="all">Все новости</a>
						</div>
						<div class="item">
							<div class="date">14 января 2018</div>
							<div class="subtitle">
								<a href="">Кадастровая оценка земли: вопросы и ответы</a>
							</div>
						</div>
						<div class="news__item">
							<div class="date">18 июля 2017</div>
							<div class="subtitle">
								<a href="">В каких ситуациях требуется оценка земельного участка?</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
