<div class="recommend-slider">
	<div class="uk-container uk-container--medium">
		<div class="slider__title">Нас рекомендуют</div>
		<div class="slider">
			<div class="slide">
				<div class="slide__inner">
					<a href="img/sliders-img/recommend-img-1-212x280.png" data-uk-lightbox="{group: 'recommend'}">
						<img src="img/sliders-img/recommend-img-1-212x280.png" alt="">
					</a>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<a href="img/sliders-img/recommend-img-2-212x280.png" data-uk-lightbox="{group: 'recommend'}">
						<img src="img/sliders-img/recommend-img-2-212x280.png" alt="">
					</a>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<a href="img/sliders-img/recommend-img-3-212x280.png" data-uk-lightbox="{group: 'recommend'}">
						<img src="img/sliders-img/recommend-img-3-212x280.png" alt="">
					</a>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<a href="img/sliders-img/recommend-img-4-212x280.png" data-uk-lightbox="{group: 'recommend'}">
						<img src="img/sliders-img/recommend-img-4-212x280.png" alt="">
					</a>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<a href="img/sliders-img/recommend-img-1-212x280.png" data-uk-lightbox="{group: 'recommend'}">
						<img src="img/sliders-img/recommend-img-1-212x280.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
