{% extends "layouts/default.html" %}
{% set title="Оценка стоимости бизнеса предприятия" %}
{% set bread = ["Главная", "Оценка", "Оценка стоимости бизнеса предприятия"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="uk-container">
			<div class="title-h1">Оценка стоимости бизнеса или предприятия</div>
			<div class="detail-banner detail-banner--top" style="background-image: url('img/detail-bg.png')">
				<div class="detail-banner__text">
					<p>
						Оценка стоимости бизнеса предприятия – сложный и трудоемкий процесс. Достоверная и полная оценка бизнеса требует профессиональных знаний и опыта, которыми обладают оценщики компании БизнесПартнер. Они знают и понимают свое дело, поэтому оценка предприятий будет проведена с высоким уровнем качества в указанные клиенту сроки.
					</p>
					<p>
						Оценка стоимости предприятия позволяет оценщику проявить все свои специальные знания и творческие способности, реализовать себя как профессионала. Наша компания понимает, что оценка стоимости бизнеса – важный этап на пути клиента к успеху, необходимый для принятия важных управленческих решений.
					</p>
				</div>
				<div class="detail-banner__btns-wrapper">
					<a href="#service-modal" class="btn" data-uk-modal>Заказать услугу</a>
					<a href="#consultation-modal" class="btn btn--underline" data-uk-modal>Заказать консультацию</a>
				</div>
			</div>
			<div class="detail-content">
				<div class="uk-container uk-container--medium">
					<div class="detail-services-tabs">
						<ul class="uk-tab" data-uk-tab="{connect: '#tab-content'}">
							<li><a href="">Назначение</a></li>
							<li><a href="">Стоимость</a></li>
							<li><a href="">Почему мы?</a></li>
							<li><a href="">Документация</a></li>
						</ul>
						<ul id="tab-content" class="uk-switcher">
							<li>
								<div class="title-h2">
									Для каких целей обычно заказывают оценку бизнеса?
								</div>

								<p>
									Оценка бизнеса предприятия необходима в различных случаях. Бизнес, как объект оценки, уникален и сложен. Он оказывает влияние на рынок, в котором занимает свою нишу, на отрасль своей деятельности, в конечном счете, и на экономику государства в целом.
								</p>
								<p>
									Оценка предприятия может понадобиться при операциях с акциями (эмиссией, выкупа долей, определения их стоимости для продажи и т.д.), для сделок (купля-продажа, вступление в наследство). Оценка стоимости предприятия бизнеса позволяет собрать информацию, которая просто необходима для повышения эффективности деятельности, реализации какого-то инвестиционного проекта, для разработки бизнес-плана. С правильным и полным отчетом об оценке, который БизнесПартнер сможет подготовить, контроль над бизнесом будет находиться в руках владельца. Ведь кто владеет информацией, тот владеет миром!
								</p>
								<div class="title-h2">Стоимость услуг по оценке бизнеса</div>
								<div class="uk-overflow-container">
									<table class="price-table">
										<thead>
											<tr>
												<th>Размер компании</th>
												<th>Стоимость услуг</th>
												<th>Сроки</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Микро предприятия (выручка и / или активы до 30 млн. рублей)</td>
												<td>30 000 рублей</td>
												<td>10 раб. дней</td>
											</tr>
											<tr>
												<td>Малые предприятия (выручка и / или активы от 30 до 100 млн. рублей)</td>
												<td>60 000 рублей</td>
												<td>15 раб. дней</td>
											</tr>
											<tr>
												<td>Средние предприятия (выручка и / или активы от 100 млн. до 500 млн. рублей)</td>
												<td>100 000 рублей</td>
												<td>20 раб. дней</td>
											</tr>
											<tr>
												<td>Крупные предприятия (выручка и / или активы от 500 до 5 000 млн. рублей)</td>
												<td>200 000 рублей</td>
												<td>30 раб. дней</td>
											</tr>
											<tr>
												<td>Крупнешие предприятия (выручка и / или активы свыше 5 000 млн. рублей)</td>
												<td>500 000 рублей</td>
												<td>40 раб. дней</td>
											</tr>
											<tr>
												<td>Оценка инвестиционного проекта (оценка бизнес-плана)</td>
												<td>от 50 000 до 150 000 рублей</td>
												<td>10 раб. дней</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="table-subtitle">
									Заявленная базовая стоимость услуг подлежит уменьшениею (увеличению): 1) при незначительном (большом) количестве активов к переоценке, в т.ч. нематериальных и финансовых; 2) при назначении оценки, не требущей высокой достоверности результатов оценки и в др. случаях.
								</div>
								<div class="title-h2">Качество выполняемых нами работ</div>
								<div class="list-wrapper">
									<ul>
										<li>
										Качество выполняемых работ подтверждено сотрудничеством с такими клиентами как "Газпром-нефть", "Сбербанк РФ", "Direct Net Telecommunications", "Ренессанс-Страхование", "Локо-Банк", "Востокнефтегазстрой", ГУП НПЦ "Спурт" и другими.
										</li>
										<li>
										Все отчеты по оценке акций и бизнеса, выполненные специалистами BusinessPartner, получают положительные заключения Росимущества и других контролирующих органов.
										</li>
										<li>
										Опыт и квалификация оценщиков подтверждена дипломами ведущих экономических и технических учебных заведений страны, рекомендательными письмами Российского общества оценщиков, Российской коллегии оценщиков и Национальной коллегии специалистов оценщиков.
										</li>
										<li>
											Все специалисты оценщики регулярно проходят курсы повышения квалификации, участвуют в семинарах и тренингах в области оценочной деятельности. Мы гарантируем, что оценка бизнеса будет произведена на должном уровне!
										</li>
										<li>
										Читайте подробнее в разделах "О компании", "Клиенты и партнеры", "Наша стратегия и принципы".
										</li>
									</ul>
									<div class="list-img">
										<a href="">
											<img src="img/portal.jpg" alt="">
										</a>
									</div>
								</div>
							</li>
							<li>55</li>
							<li>666</li>
							<li>777</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="detail-banner detail-banner--bottom">
				<div class="detail-banner__text">
					<p>Благодаря автоматизации компании и четкому разделению обязанностей оценщиков мы смогли сделать стоимость наших услуг одной из самых выгодных, особенно по оценке малого бизнеса. Мы приводим наши расценки на услуги на сайте, т.к. каждый подобный проект для нас индивидуален и мы обсуждаем все условия до заключения договора.</p>
					<p class="bold">Для того чтобы начать переговоры и обсудить все моменты, свяжитесь с нашими менеджерами по телефону (495) 772-15-99, (495) 621-13-48 или посредством электронной почты <a href="mailto:info@bp-g.ru">info@bp-g.ru</a> .</p>
				</div>
				<a href="" class="btn btn--white">Заказать услугу</a>
			</div>
		</div>
	</div>
	
	{% include "includes/recommend-slider.html" %}

	{% include "includes/info-blocks.html" %}
{% endblock %}
