{% extends "layouts/default.html" %}
{% set title="Пресс-клуб" %}
{% set bread = ["Главная", "Пресс-клуб"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="news">
			<div class="uk-container uk-container--medium">
				<div class="title-h1">Пресс-клуб</div>
				<a href="" class="news-toggle icon-menu uk-hidden-large">Все рубрики</a>
				<ul class="news-pages-section">
					<li class="active"><a href="#">Новости</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">Аналитика</a></li>
					<li><a href="#">Пресс релизы</a></li>
					<li><a href="#">Полезная информация</a></li>
				</ul>
				<div class="news-pages-list">
					<div class="news-item">
						<div class="news-item__date">14 января 2018</div>
						<div class="news-item__title">
							<a href="">Кадастровая оценка земли: вопросы и ответы</a>
						</div>
						<div class="news-item__text">
							Согласно законодательству (ФЗ «Об оценочной деятельности»), кадастровая оценка осуществляется в соответствие с решениями исполнительных органов либо в тех случаях, когда законодательные нормы о проведении оценочных мероприятий устанавливаются законодательством государственного субъекта. Процедура проводится не реже, чем один раз в пять лет. Орган, который издает приказ о проведении подобных мероприятий, является заказчиком оценочных услуг.
						</div>
					</div>
					<div class="news-item">
						<div class="news-item__date">14 января 2018</div>
						<div class="news-item__title">
							<a href="">Оценка автомобилей после ремонта: особенности</a>
						</div>
						<div class="news-item__text">
							Прием автомобиля из ремонта с целью определения его стоимости – далеко непростое мероприятие. Современные машины, особенно это касается иномарок, содержат сложные агрегаты, различные технологические узлы, и другие элементы. По этой причине даже при наличии самой современной аппаратуры весьма непросто определить стоимость ремонта авто.
						</div>
					</div>
					<div class="news-item">
						<div class="news-item__date">22 декабря 2017</div>
						<div class="news-item__title">
							<a href="">Отчет оценщика позволил установить реальную стоимость имущества при приватизации</a>
						</div>
						<div class="news-item__text">
								Благодаря отчету специалиста по оценке была установлена реальная стоимость имущества, продаваемого в рамках приватизации, а также возвращен НДС
						</div>
					</div>
					<div class="news-item">
						<div class="news-item__date">14 декабря 2017</div>
						<div class="news-item__title">
							<a href="">
								Кадастровая стоимость земли увеличится с 2014 года на 10 процентов?
							</a>
						</div>
						<div class="news-item__text">
								Начиная с 2014 года, столичные власти планируют увеличение кадастровой стоимости земель на 10%
						</div>
					</div>
					<div class="news-item">
						<div class="news-item__date">07 декабря 2016</div>
						<div class="news-item__title">
							<a href="">
								Жителями России массово оспаривается оценка земельных участков
							</a>
						</div>
						<div class="news-item__text">
							Количество судебных дел, связанных с пересмотром кадастровой стоимости объектов недвижимости, в регионах нашей страны растет с удивительной скоростью.
						</div>
					</div>
				</div>
				{% include "includes/pagination.html" %}
			</div>
		</div>
	</div>
{% endblock %}
