{% extends "layouts/default.html" %}
{% set title="Кадастровая оценка земли" %}
{% set bread = ["Главная", "Преес-клуб", "Новости", "Кадастровая оценка земли"] %}
{% set main = false %}
{% block content %}
	<div class="content">
		<div class="news-detail">
			<div class="uk-container uk-container--medium">
				<div class="title-h1">Кадастровая оценка земли</div>
				<div class="news-detail__date">14 января 2018</div>
				<p>
					Согласно законодательству (ФЗ «Об оценочной деятельности»), кадастровая оценка осуществляется в соответствие с решениями исполнительных органов либо в тех случаях, когда законодательные нормы о проведении оценочных мероприятий устанавливаются законодательством государственного субъекта. Процедура проводится не реже, чем один раз в пять лет. Орган, который издает приказ о проведении подобных мероприятий, является заказчиком оценочных услуг.
				</p>
				<div class="title-h3">
					Каким органом организуются работы по кадастровой оценке земельных участков?
				</div>
				<p>
					Организатором мероприятий является исполнительный орган РФ. Согласно законодательным нормам, органом кадастрового учета формируется список объектов недвижимого имущества для проведения мероприятий в рамках государственной кадастровой оценки. Выбор исполнителя оценочных работ проводится в рамках специального конкурса.
				</p>
				<div class="title-h3">
					На какую календарную дату определяется государственная кадастровая стоимость объекта?
				</div>
				<p>
					Оценка стоимости земли осуществляется на ту дату, когда формировался список оцениваемых объектов. Мероприятия проводятся по отношению к тем объектам недвижимого имущества, которые учитываются в государственном кадастре. По каким правилам определяется кадастровая стоимость участка, если он не входит в список оцениваемых объектов либо если участок был поставлен на учет в кадастровые органы после той даты, когда был сформирован перечень оцениваемых объектов, или в случае изменения параметров объекта?
				</p>
			</div>
			<div class="comments">
				<div class="uk-container">
					<div class="comments__inner">
						<div class="uk-container uk-container--medium">
							<div class="comments__list">
								<div class="title-h2">Комментарии</div>
								<div class="comment">
									<div class="comment__info">
										<div class="comment__date">26.08.2016 в 11:09</div>
										<div class="comment__author">Alex 378</div>
									</div>
									<div class="comment__text">
										По мнению экспертов, данная проблема входит в категорию институциональных
									</div>
								</div>
								<div class="comment">
									<div class="comment__info">
										<div class="comment__date">26.08.2016 в 11:09</div>
										<div class="comment__author">Alex 378</div>
									</div>
									<div class="comment__text">
										Мероприятия по оценке участков проводились некачественно и непрофессионально,а общая база для создания грамотных и единых стандартов по оценке земель несовершенна и требует глубокой дороботки.
									</div>
								</div>
							</div>
							<div class="comments__form">
								<div class="title-h2">Оставить комментарий</div>
								<form action="" class="comments-form">
									<input type="text" name="comment-user-name" placeholder="Имя">
									<textarea name="" id="" name="comment-text" placeholder="Комментарий"></textarea>
									<button class="btn">Отправить</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="another-news">
				<div class="uk-container uk-container--medium">
					<div class="title-h2">Другие говости по теме</div>
					<div class="another-news__item">
						<div class="another-news__date">20 февраля 2018</div>
						<div class="another-news__title">
							<a href="">Особенности оценки машин и оборудования</a>
						</div>
						<div class="another-news__text">
							Согласно законодательству (ФЗ «Об оценочной деятельности»), кадастровая оценка осуществляется в соответствие с решениями исполнительных органов либо в тех случаях, когда законодательные нормы о проведении оценочных мероприятий устанавливаются законодательством государственного субъекта. Процедура проводится не реже, чем один раз в пять лет. 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
